html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f9fa;
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  letter-spacing: 0.5px;
}

footer {
  font-size: 0.9rem;
}

.hero {
  background: linear-gradient(135deg, #1a1a1a, #333);
  color: white;
  text-align: center;
  padding: 6rem 2rem;
}

.no-top-gap {
  padding-top: 0 !important;
}

.card {
  border-radius: 10px;
}

.card-body h2 {
  font-weight: 600;
}

.product-img {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
}

.related-img {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
}

.product-thumb {
  width: 100%;
  height: 220px;
  object-fit: contain;
  background-color: #f8f9fa;
  border-radius: 0.5rem;
}
